# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/carrhybq/node-app.carrentcompare.pw"
PassengerBaseURI "/"
PassengerNodejs "/home/carrhybq/nodevenv/node-app.carrentcompare.pw/10/bin/node"
PassengerAppType node
PassengerStartupFile serveur.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END