/* This box class is purely used for explaining how the bootstrap grid system works. */
.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

body {
  background-color: #cdcdcd;
  margin-top: 10px;
}

.corners {
  border-radius: 10px;
}

.containers-bottom-margin{
  margin-bottom: 10px;
}

.main-rows-padding{
  padding: 10px;
}

.btn-auto {
  padding-right: 400px; /* Ajustez selon vos besoins */
}